@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Roboto:wght@400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  grid-template-areas: 
    "aside header"
    "aside main"
    "aside footer"
  ;
  grid-template-rows: 68px 1fr 181px;
  grid-template-columns: 220px 1fr;
  font-family: Roboto, sans-serif;
}

/* ASIDE */

aside {
  width: 220px;
  height: 100%;
  grid-area: aside;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.top {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 22px 22px;
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.menu-items {
  display: flex;
  flex-direction: column;
  color: #725C5C;
}
.menu-item {
  cursor: pointer;
  padding: 7px 24px;
  border-bottom: solid 2px #E7E7E7;
  position: relative;
}
.menu-item:after {
  content: '';
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);;
  position: absolute;
}

.menu-item:hover::after {
  opacity: 1;
}

.menu-item:hover {
  background-color: #FDF1EB;
}

/* HEADER */

header {
  width: 100%;
  background-color: #FDF1EB;
  height: fit-content;
  padding: 5px 35px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

header .header-content .text {
  display: flex;
  flex-direction: column;
  color: #725C5C;
  font-weight: 400;
  max-width: 60%;
}

header .header-content .text p:nth-child(1), header .header-content .text p:nth-child(1) {
  font-size: 14px;
  line-height: 16.41px;
}

header .header-content .text p:nth-child(2) {
  font-size: 22px;
  line-height: 25.78px;
}

header .header-content .idiomas {
  display: flex;
  align-items: center;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  padding: 8px 13px;
}

header .header-content .idiomas select {
  color: #333333;
  background: none;
  border: none;
  outline: none;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.5px;
}

header .header-content .idiomas option {
  background-color: #E7E7E7;
}

header .header-content .login {
  display: flex;
  text-align: end;
  align-items: center;
  gap: 6.85px;
}

header .header-content .login-text {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  color: #333333;
}

header .header-content .login-text p:nth-child(1) {
  font-size: 14px;
  line-height: 17.5px;
}

header .header-content .login-text p:nth-child(2) {
  font-size: 12px;
  line-height: 15px;
}

header .header-content .login .image {
  position: relative;
}

header .header-content .login .image img {
  border-radius: 100%;
}

header .header-content .login .image .notification-badge {
  background-color: #F85959;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 11.72px;
  width: 15px;
  height: 15px;
  padding-top: 2px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  top: -3px;
  right: -4px;
}

/* CONTENT */

.content {
  margin-top: 30px;
  padding: 20px 44px;
}

.content .content-top {
  color: #ED7839;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .content-top .title {
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  max-width: 70%;
}

.content .content-extras {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
}

.content .content-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.content .content-buttons .button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  background-color: #ED7839;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
}

.content .content-extras .content-quote {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: end;
}

.video-apresentation {
  margin: 19px 31px 30px 45px;
  width: 783px;
  height: 439px;
  border-radius: 3px;
  position: relative;
  
}

.video-overlay {
  position: absolute;
  background: hsla(21, 92%, 29%, 0.5);
  border-radius: 3px;
  width: 783px;
  height: 439px;
  left: 1px;
  top: 0px;
}

.text-top{
  position: absolute;
  height: 54px;
  left: 35px;
  right: 17px;
  top: 35px;
  color: hsla(0, 0%, 100%, 1);
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
}

.image-master {
  position: absolute;
  border: hsla(21, 83%, 58%, 1) solid 1px;
  padding: 2px;
  border-radius: 100%;
  top: 300.26px;
  left: 35.57px;
  right: 655.57px;
  bottom: 45.26px;
}

.image-master img {
  border-radius: 100%;
}

.text-bottom {
  color: #ffffff;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.05em;
  position: absolute;
  top: 325px;
  left: 150px;
}

.text-bottom p:nth-child(1) {
  font-size: 34px;
}

.text-bottom p:nth-child(2) {
  font-size: 20px;
}

